
.dish-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-bottom: 3px;
  transition: 0.3s;
  
}

.dish-card:hover {
  transform: scale(1.03);
}

.dish-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.dish-content {
  padding: 10px 15px;
}

.status {
  font-size: 14px;
  margin: 10px 0;
  padding: 5px 8px;
  border-radius: 5px;
  width: fit-content;
}

.published {
  background: #d9ffd9;
  color: #1a8f1a;
  font-weight: 600;
}

.unpublished {
  background: #ffe0e0;
  color: #b30000;
  font-weight: 600;
}

button {
  background: #0077ff;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 70%;
  margin-top: 5px;
  font-size: 15px;
}

button:hover {
  background: #005fcc;
}
