
*{
    width: 100%;
    margin-bottom: 20px;
}
.navbar {
  background-color: #1f2937; 
  color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}


.brand h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 15px;
}


.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links li a:hover {
  color: #facc15; 
}

.user-profile {
  margin-left: 1rem;
  font-weight: 500;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: -100%;
    flex-direction: column;
    width: 100%;
    background-color: #111827;
    transition: left 0.3s ease;
    padding: 1rem 0;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    text-align: center;
    margin: 0.5rem 0;
  }

  .hamburger {
    display: flex;
  }

  .user-profile {
    display: none;
  }
}
